.pomodoro-modal,
.deletePopup-div,
.editPopup-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); /* Equivalent to bg-[#000] bg-opacity-80 */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}

.notification {
  position: absolute;
}

.details-page {
  width: 1024px;
  height: calc(100vh - 101px);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--border-color);
  border-width: 0px 1px;
}

.task-details {
  flex: 1;
  padding: 20px;
}

.task-details h1 {
  margin-bottom: 20px;
}

.task-details p {
  margin: 20px 0;
}

.task-detail-value {
  font-weight: bold;
}

.task-detail-title {
  font-size: 0.8em;
  color: #555;
}

.details-page-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.details-page-buttons button {
  height: 100px;
  background-color: var (--button-primary);
  border-bottom: 1px solid #000000;
}
