.dropdown-mainContainer {
  width: 25rem;
  position: relative;
  /* border: 2px solid var(--border-color); */
  border-radius: 8px 8px 0px 0px;
  display: flex;
  align-items: center;
  padding: 5px 5px 5px 10px;
  cursor: pointer;
  position: relative;
  background-color: var(--primary-dark);
  justify-content: flex-start;
  color: var(--button-text-color);

  /* opacity: 0.8; */
}

.viewAll::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 40px;
  width: 2px; /* Adjust the width as needed */
  background-color: var(--border-color); /* Use the desired border color */
}

.viewAll {
  width: 12rem;
  border-radius: 0px;
  border-top: none;
  border-bottom: none;
}

.drop-down {
  position: absolute;
  top: 80px;
  right: 0px;

  border-radius: 0px 0px 8px 8px;
}
.drop-down {
  position: absolute;
  color: var(--button-text-color);
  z-index: 1;
  background-color: var(--primary-dark);
  font-size: 14px;
  padding: 5px;
  opacity: 0.9;
}
