.dropdown-mainContainer {
  width: 25rem;
  position: relative;
  /* border: 2px solid var(--border-color); */
  border-radius: 8px 8px 0px 0px;
  display: flex;
  align-items: center;
  padding: 5px 5px 5px 10px;
  cursor: pointer;
  position: relative;
  background-color: var(--button-primary);
  justify-content: flex-start;
  color: white;
  /* opacity: 0.8; */
}

.view-all::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 40px;
  width: 2px;
  background-color: rgba(255, 255, 255, 0.2);
}

.view-all {
  width: 12rem;
  border-radius: 0px;
  border-top: none;
  border-bottom: none;
  background-color: var(--button-primary);
  color: white;
}

.drop-down {
  position: absolute;
  top: 78px;
  right: 0px;
  border-radius: 0px 0px 8px 8px;
}

.drop-down {
  position: absolute;
  color: white;
  z-index: 1;
  background-color: var(--button-primary);
  font-size: 14px;
  padding: 5px;
}

.dropdown-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.dropdown-item {
  color: white;
  padding: 8px 12px;
}

.dropdown-item:hover {
  background-color: var(--button-primary-hover);
}

.dropdown-item.selected {
  background-color: rgba(255, 255, 255, 0.1);
}