.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  border-bottom: 2px solid var(--border-color);
  height: 100px;
  background-color: #b3782d;
}

.header h1 {
  font-size: 30px;
  cursor: pointer;
  /* color: var(--text-primary); */
  color: #ffffff;
}

.about {
  color: var(--text-primary);
  font-weight: 800;
  font-size: 20px;
}

.about:hover {
  color: var(--text-secondary);
}
