.description-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  border: 2px solid var(--border-color);
  height: 20rem;
  padding: 10px;
  border-radius: 10px;
}

.description-form div {
  display: flex;
  flex-direction: column;
}

.description-form label {
  font-size: 20px;
  margin-bottom: 5px;
}

.description-form input {
  padding: 8px;
  height: 40px;
  width: 300px;
  border-radius: 10px;
}
