.dashboard-card {
  border: 2px solid var(--border-color);
  width: 200px;
  height: 100px;
  cursor: pointer;
  border-radius: 5px;
  padding: 0px 10px;
  position: relative;
  /* background-color: #cb997e; */
  color: #000000;
}

.status-label {
  position: absolute;
  right: 0px;
  top: 0px;
}

.pending {
  background-color: var(--pending-color);
}

.completed {
  background-color: var(--completed-color);
}

.inProgress {
  background-color: var(--in-progress-color);
}

/* .low {
  border: 5px solid #64b5f6;
}

.medium {
  border: 5px solid #ffb74d;
}

.high {
  border: 5px solid #e91e63;
} */
