body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

#root {
  width: 100%;
}

.low {
  color: #28a745; /* Green */
}

.medium {
  color: #ffc107; /* Yellow */
}
.high {
  color: #dc3545; /* Red */
}

.completed {
  color: #28a745; /* Green */
}

.inProgress {
  color: #fd7e14; /* Orange */
}

.pending {
  color: #007bff; /* Blue */
}
