#root {
  width: 100%;
}

body {
  font-size: 16px;
  background-color: var(--background-color);
  color: var(--text-color);
}
.low {
  color: var(--low-priority); /* Green */
}

.medium {
  color: var(--medium-priority); /* Yellow */
}
.high {
  color: var(--high-priority); /* Red */
}

.completed {
  color: var(--completed-color); /* Green */
}

.inProgress {
  color: var(--in-progress-color); /* Orange */
}

.pending {
  color: var(--pending-color); /* Blue */
}
