.viewAll-page {
  width: 1024px;
  margin: 0 auto;
}

.viewAll-page nav {
  display: flex;
  gap: 20px;
  border-bottom: 2px solid var(--border-color);
}

.viewAll-page nav h4 {
  cursor: pointer;
}
.viewAll-div {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.drop-down {
  position: absolute;
  color: var(--button-text-color);
  z-index: 1;
  background-color: var(--primary-dark);
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
  opacity: 0.9;
}

.drop-down p {
  cursor: pointer;
}

.filters-nav {
  display: flex;
  align-items: center;
}

.filters-nav > div:nth-child(1) {
  flex-grow: 1;
  display: flex;
  gap: 20px;
}

.filters-nav > div:nth-child(2) {
  cursor: pointer;
}

.search-bar {
  width: 100%;
  padding: 10px;
}
