.viewAll-page {
  width: 1024px;
  margin: 0 auto;
}

.viewAll-page nav {
  display: flex;
  gap: 20px;
  border-bottom: 1px solid #eaeaea;
}

.viewAll-page nav h4 {
  cursor: pointer;
}
.viewAll-div {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.drop-down {
  position: absolute;
  background-color: white;
  opacity: 0.5;
  color: black;
  z-index: 1;
}

.drop-down p {
  cursor: pointer;
}

.filters-nav {
  display: flex;
  align-items: center;
}

.filters-nav > div:nth-child(1) {
  flex-grow: 1;
  display: flex;
  gap: 20px;
}

.filters-nav > div:nth-child(2) {
  cursor: pointer;
}

.search-bar {
  width: 100%;
  padding: 10px;
}
