.pomodoro-popup {
  height: auto;
  padding: 20px;
  background-color: #ffce62;
  border-radius: 10px;
  border: 2px solid black;
}

.pomodoro-page {
  width: "100%";
  height: "100vh";
}

.spotify-embed {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.pomodoro-popup__header {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.pomodoro-popup__header h4 {
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--button-text-color);
  border: 1px solid #ffffff;
}

.pomodoro-popup__timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pomodoro-popup__timer .time-display {
  /* width: 300px; */
  font-weight: 800;
}

.pomodoro-popup__timer__buttons {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
