.pomodoro-popup {
  height: 600px;
  width: 60%;
  overflow: hidden;
  overflow-y: auto;
  padding: 20px;
  background-color: #5e3d2e;
  border-radius: 10px;
  border: 2px solid #ffffff;
  color: #ffffff;
}

.pomodoro-page {
  width: "100%";
  height: "100vh";
}

.spotify-embed {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.pomodoro-popup__header {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.pomodoro-popup__header h4 {
  padding: 10px;
  cursor: pointer;
  color: var(--button-text-color);
  background-color: var(--button-primary);
  transition: background-color 0.3s ease;
}

.pomodoro-popup__header h4:hover {
  background-color: var(--button-primary-hover);
}

.pomodoro-popup__timer {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.pomodoro-popup__timer .time-display {
  /* width: 300px; */
  font-weight: 800;
  margin: 0 auto;
}

.pomodoro-popup__timer__buttons {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.pomodoro-popup__timer__buttons button {
  background-color: var(--button-primary);
  transition: background-color 0.3s ease;
  border: 1px solid var(--popup-btn-border-color);
}

.pomodoro-popup__timer__buttons button:hover {
  background-color: var(--button-primary-hover);
}

.close-pomodoro-button {
  background-color: var(--button-primary);
  transition: background-color 0.3s ease;
  border: 1px solid var(--popup-btn-border-color);
}

.close-pomodoro-button:hover {
  background-color: var(--button-primary-hover);
}
