/* .dashboard {
  width: 1024px;
  margin: 0 auto;
}

.dashboards-cards-main {
  display: grid;
  grid-template-columns: 75% 25%;
}

.dashboard .first-column {
  border: 1px solid #eaeaea;
}

.dashboard .second-column {
  border: 1px solid #eaeaea;
  margin: 0 auto;
}

.dashboard .second-column button {
  margin-top: 10px;
}

.viewall-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #eaeaea;
  padding: 0px 10px;
}

.dashbord-cards-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 15px;
  padding: 15px;
}


.count-cards div {
  border: 1px solid #eaeaea;
  width: 100px;
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;
  } */

.dashboard {
  width: 1024px;
  height: calc(100vh - 101px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard .categories-cards {
  display: flex;
  justify-content: center;

  gap: 20px;
  padding: 20px 0px;
  position: relative;
}

.filter-card {
  border: 2px solid var(--border-color);
  padding: 10px;
  cursor: pointer;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.view-all-btn {
  position: absolute;
  right: 90px;
  top: 150px;
}
.create-btn {
  position: absolute;
  right: 90px;
  bottom: 90px;
}

.filter-card p {
  font-weight: bold;
}
